body {
	background-color: hsl(212, 45%, 89%);
}

#mainblock {
	background-color: white;
	width: 626px;
	height: 900px;
	border-radius: 20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
}
#qr {
	position: absolute;
	right: 630px;
	bottom: 300px;
	border-style: solid white;
	border-radius: 20px;
}
#txt1 {
	text-align: center;
	bottom: 210px;
	position: relative;
	font-size: 45px;
	font-family: Outfit;
}
#txt2 {
	text-align: center;
	position: relative;
	bottom: 210px;
	font-size: 25px;
	font-family: Outfit;
	color: gray;
}
